
body{
    margin: 0;
    padding: 0; 
      
}

.contenedor-header{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: antiquewhite;
}

.logo{
    width: 8%;
    
}
.banner{
    background-color: bisque;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 40px;

    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;  
    }
    h1{
        margin-bottom: 50%;
        text-align: center;
    }
}

.card{
    display: flex;
    background-color: cadetblue;
    h3{
        text-align: center;
    }
    
}